# Ignore data files
data/*
!data/raw/
!data/processed/
!data/raw/.gitkeep
!data/processed/.gitkeep

*.csv
*.parquet

# Python cache
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# VSCode
.vscode/

# OS files
.DS_Store
Thumbs.db